.termsContainer {
  max-width: 900px;
  margin: 3vmax auto;
  padding: 2vmax;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #333;
}

.termsTitle {
  text-align: center;
  font-size: 3vmax;
  color: #28c74f;
  margin-bottom: 2vmax;
}

.termsSubtitle {
  font-size: 2vmax;
  margin-top: 2vmax;
  color: #444;
}

.termsText {
  font-size: 1.2vmax;
  margin: 1vmax 0;
}
