/* Header.css */

.customNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1vmax 2vmax;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  /* font-family: "Roboto", sans-serif; */
}

.logo img {
  height: 40px;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 2vmax;
  position: relative;
}

.navLinks a,
.navLinks span {
  text-decoration: none;
  color: rgba(35, 35, 35, 0.8);
  font-size: 1.2vmax;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.navLinks a:hover,
.navLinks span:hover {
  color: #28c74f;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Pushes it below the parent element */
  left: 0;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  padding: 1vmax;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  min-width: 150px;
}

.dropdown-menu a {
  padding: 0.5vmax 1vmax;
  text-decoration: none;
  color: rgba(35, 35, 35, 0.8);
  font-size: 1vmax;
  transition: background-color 0.3s;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
  color: #28c74f;
}

.navIcons {
  display: flex;
  align-items: center;
  gap: 1.5vmax;
}

.navIcons .icon {
  font-size: 1.8vmax;
  color: rgba(35, 35, 35, 0.8);
  cursor: pointer;
  transition: color 0.3s ease;
}

.navIcons .icon:hover {
  color: #28c74f;
}

.user-menu {
  right: 0;
  left: auto;
}
.custum-btn {
  background: none;
  border: none;
  padding: 0.5vmax 1vmax;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
}
.custum-btn:hover {
  background-color: #f1f1f1;
  color: #28c74f;
}
.cartIcon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  margin: 0 10px;
}

.cartCount {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #28c74f;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 6px;
  line-height: 1;
}
