.productListTable {
  padding: 20px;
  overflow-x: auto;
}
.productListTable h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2c3e50;
}

.productListTable table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.productListTable th,
.productListTable td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.productListTable th {
  background: #04c90d;
  font-weight: 600;
  color:#fff
}

.tableImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.inStock {
  color: green;
  font-weight: 500;
}

.outStock {
  color: red;
  font-weight: 500;
}

.actionsCell {
  display: flex;
  gap: 10px;
}

.editBtn,
.deleteBtn {
  /* display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0.9rem; */
    padding: 6px 12px;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s;
}

.editBtn {
  background: green;
  text-decoration: none;
  color: #fff;
}

.deleteBtn {
  background: #c0392b;
  color: #fff;
}
